@import "variables";

@mixin anchorStyles() {
  font-family: $text-primary;
  font-weight: 700;
  color: $color-secondary;
  text-decoration: none;

  &:active, &:visited {
    color: $color-secondary;
  }

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}

@mixin headings() {
  color: $color-primary;
  font-family: $text-primary;
  font-weight: 700;
}

@mixin desktop() {
  @media (min-width: 600px) {
    @content;
  }
}