@import "variables";

@mixin anchorStyles() {
  color: $color-primary;
  font-family: $text-secondary;
    &:active {
      color: $neutral-color;
    }
    &:visited {
      color: $color-secondary;
    }
    &:hover {
      color: $neutral-color;
    }
}

@mixin desktop() {
  @media (min-width: 600px) {
    @content;
  }
}