/* color palette */

$purple-100: #39305F;
$purple-80: #483D8B;
$purple-60: #6057A3;
$purple-40: #A39FCA;
$purple-20: #C3BFDE;
$purple-10: #E3E1F4;
$pink-100: #98788D;
$pink-80: #B08CA2;
$pink-60: #C6A1B7;
$pink-40: #DFC4D4;
$pink-20: #ECD6E3;
$pink-10: #FEF1F8;
$white: #FFF;
$black: #000;

$color-primary: $purple-40;
$color-primary-light: $purple-10;
$color-primary-dark: $purple-60;
$color-secondary: $pink-100;
$color-bg-light: $pink-10;
$color-bg-dark: $color-primary-dark;
$color-text: $purple-100;

/* typography */

$text-primary: 'forma-djr-text', sans-serif;
$text-secondary: 'Warbler Variable Web', Georgia, serif;

/* spacing */

$sp-xs: .5rem;
$sp-sm: 1rem;
$sp-md: 1.5rem;
$sp-lg: 2rem;
$sp-xl: 2.5rem;
