@import 'modern-normalize/modern-normalize.css';
@import "variables";
@import "mixins";

html,
body {
  font-family: $text-primary;
  color: $color-text;
  background: $color-bg-light;
  margin: 0 auto;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  min-height: 100vh;
  width: 100vw;
}

header, footer, main {
  width: 100%;
  padding: $sp-lg;
}

header {
  display: inline-grid;
  grid-template-columns: auto auto;

  nav {
    width: 100%;
    vertical-align: middle;
    font-size: 1.5rem;

    a.logo {
      &:hover {
        border: none;
      }
    }

    ul {
      display: inline-grid;
      grid-template-columns: repeat(6, auto);
      list-style-type: none;
    }
    li {
      align-self: center;

      svg.svg-inline--fa {
        height: 1.125rem;
        padding-inline-start: $sp-xxs;
      }
    }
  }
}

footer {
  background: $color-bg-dark;
}

h1, h2, h3, h4, h5, h6 {
  @include headings;
}


h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

p {
  font-family: $text-secondary;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: $color-text;
}


a {
  @include anchorStyles;
}

button {
  font-family: $text-primary;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  background: $color-bg-light;
  color: $color-secondary;
  border: $color-secondary 1px solid;
  border-radius: 4px;
  width: fit-content;

  &:hover {
    cursor: pointer;
    background: $color-bg-dark;
  }

  a:hover {
    color: $color-primary-light;
  }

}

input {
  display: block;
}

.selected-works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project img {
  height: 100px;
  width: 200px;
}

.project a {
  color: white;
  background-color: black;
  padding: 10px 10px;
  border-radius: 6px;
}

.project {
  max-width: 500px;
  background-color: blue;
  border-radius: 6px;
  color: white;
  padding: 30px 30px;
  margin: 30px 0;
}

article {
  header {
    display: block;
  }
}

.logo {
  width: 100px;
  height: auto;
}